<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:theme="@style/AppTheme"
    android:launchMode="singleTask"
  >
    <!-- Remove heavy ad-network auto-init ContentProviders that block the main thread on startup.
         Yandex Mediation initializes partner SDKs lazily on first ad request. -->
    <provider android:name="com.google.android.gms.ads.MobileAdsInitProvider" tools:node="remove" />
    <provider android:name="com.applovin.sdk.AppLovinInitProvider" tools:node="remove" />
    <provider android:name="com.ironsource.lifecycle.IronsourceLifecycleProvider" tools:node="remove" />
    <provider android:name="com.ironsource.lifecycle.LevelPlayActivityLifecycleProvider" tools:node="remove" />
    <provider android:name="com.mbridge.msdk.config.component.status.MBComponentLifecycleProvider" tools:node="remove" />
    <provider android:name="com.startapp.sdk.adsbase.StartAppInitProvider" tools:node="remove" />
    <provider android:name="com.vungle.ads.VungleProvider" tools:node="remove" />
    <provider android:name="sg.bigo.ads.controller.provider.BigoAdsProvider" tools:node="remove" />
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:screenOrientation="portrait"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="read" android:host="auth"/>
      </intent-filter>
    </activity>
  </application>
</manifest>